/* This file is for your main application css. */
.contents {
  font-size: 120%;  
  width: 800px;
  margin: 20px;
}

.contents .links_nav a {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: .25em;
}
